@charset "UTF-8";

h2{
	text-align:right;
	margin-right:10%;
}

.submit_btn{
	margin-left:25%;
}

/* 削除ボタン非活性(削除チェック入れてない状態の)の時のボタンの色などの変更 */
:disabled{
	background-color:#440000;
	pointer-events:none;
}