@charset "UTF-8";
body, html {
	margin : 0; /* 余白の削除 */
	padding : 0; /* 余白の削除 */
	width : 100%;
	height : 100%;
	font-family: sans-serif;
	background-color:#f3ecd8;
}

*:focus{
	outline: none;
}

#header{
	width: 100%;
	height:auto;
	padding: 10px;
	background-color:#440000;
	overflow: hidden;
	font-family: sans-serif;
	box-sizing: border-box;
}

#header-menu{
	float : left;
	width : 80%;
	margin-left : -30px;
}

#header-menu ul{
	float : left;
	margin-top : 15px;
	margin-left : 20px;
	width : 100%;
}

#header-menu ul li{
	float : left;
	list-style : none;
	padding-left : 1%;
	color : white;
	font-size : 12px;
}

#header-title {
	float : left;
	height : 30px;
	margin-top : 20px;
	margin-left : 25px;
	width : 12%;
	color:#ffffff;
	font-size: 1.3vw;
	white-space: nowrap;

}

body, html {
	margin : 0; /* 余白の削除 */
	padding : 0; /* 余白の削除 */
	width : 100%;
	height : 100%;
}

/*-------- 中身の範囲指定 -------------------------------------*/
#contents {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 130px;
}


/* -----------------------------------------------------------------*/
/*  	タイトル													*/
/* -----------------------------------------------------------------*/
h1 {
	padding: 10px;
	border-top: 2px solid #440000;
	border-bottom: 2px solid #440000;
	color: #440000;
	text-align: center;
}


/*---------------------------------------------------------------*/
/* 		テーブル												 */
/*---------------------------------------------------------------*/
/* ---------基本デザイン----------------------------------------- */
table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid rgba(200,200,200,0.7);
}

table th {
	padding: 10px 2vw;
	background-color: #440000;
	border: 1px solid rgba(200,200,200,0.7);
	color:white;
}

table td {
	padding: 10px 0.5vw;
	border: 1px solid rgba(200,200,200,0.7);
	word-break: break-all;
}

/* -----------テーブル左詰め用------------------------------------ */
.vertical-list-table tr th {
	text-align: left;
	width: 25%;
}

.vertical-list-table tr td {
	width: 75%;
}

/*----------- テーブル中央揃え用------------------------------------- */
.horizontal-list-table {
	font-size: 1vw;
}

.horizontal-list-table tr th {
	text-align: center;
	white-space: nowrap;
}

.horizontal-list-table tr td {
	text-align: center;
}


/*----------- テーブル内入力フォームデザイン--------------------------- */
.txt, .txt-yellow {
	width : 99%;
	height : 30px;
	border: 0.5px solid #999;
	font-size : 24px;
	background-color: #F4C4AD;
}


/* -----------------------------------------------------------------------------*/
/*  		ボタン																*/
/* -----------------------------------------------------------------------------*/
/* ------------ボタン自体のデザイン-------------------------------------------- */

.submit_btn {
	border-radius: 100px;
	border-width: 1px;
	width: auto;
	min-width: 120px;
	height : 45px;
	margin-top : -5px;
	margin-left : 10px;
	font-size: 17px;
	text-align: center;
	color:white;
	background-color:#880000;
	padding-left: 30px;
	padding-right: 30px;
}

.header_btn{
	width: auto;
	min-width: 120px;
	border-width: 0px;
	border-color:#440000;
	background-color:#440000;
	font-size: 1.3vw;
	min-width: 100px;
	margin-left : 10px;
	height:auto;
	text-align: center;
	color:white;
	padding-left: 30px;
	padding-right: 30px;
}


.header_btn:focus {
	box-shadow: 0 0 10px white ;
}

.header_btn:hover {
	cursor: pointer;
    box-shadow: 0 0 20px white ;
}

.submit_btn:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.submit_btn:focus {
	box-shadow: 0 0 10px #e5a323;
}

.submit_btn:hover {
	cursor: pointer;
    box-shadow: 0 0 20px #e5a323;
}

/*-------------- ボタン配置------------------------------------------------*/
/* 縦並び */
.submit_btn_box{
	margin: 50px;
	text-align: center;
	clear: both;
}

/* -------------------------------------------------------------------- */
/* 		メッセージ														*/
/* -------------------------------------------------------------------- */

.info, .success, .error{
	font-size: 15px;
	border: 1px solid;
	margin: 10px 20px;
	padding: 15px 50px;
	text-align: center;
}

.info {
	border-color: blue;
	color: blue;
	background-color: #A9D0F5;
}

.error{
	border-color: red;
	color: red;
	background-color: #F5A9BC;
}

.success {
	border-color: green;
	color: green;
	background-color: #A9F5BC;
}


/* ------------------------------------------------------------------ */
/* 		個別指定													  */
/* ------------------------------------------------------------------ */
/* login.jspのチェックボックス用 */
.box, .checkList {
	padding: 30px;
	padding-left: 40px;
}

/* チェックボックスのフォーカス、ホバー処理 */
#form_savedLoginId:focus, .checkList:focus, .select_box:focus {
	box-shadow: 0 0 10px #e5a323;
}

#form_savedLoginId:hover, .checkList:hover, .select_box:hover {
	box-shadow: 0 0 20px #e5a323;
}

/* login.jspの入力フォーム背景 */
.txt-yellow {
	background-color:#F4C4AD;
}

.txt-yellow:focus {
	box-shadow: 0 0 10px #e5a323;
}

/* -------------------------------------------------------------------- */
/* 		画像サイズ設定													*/
/* -------------------------------------------------------------------- */


/*購入履歴、カート*/
.item-image-box-50 {
	width : 50px;
	height : 50px;
}

/* 画像のホバー、アクティブアニメーション */
.imgAnimation{
	-webkit-transition: all 0.35s;
	-ms-transition: all 0.35s;
}

.imgAnimation:hover{
	border-radius: 20px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.imgAnimation:active{
	transform: scale(0.95, 0.95);
	border-bottom: none;
}
